@model List<UserRegistrationApp.Models.User>

<h2>Registered Users</h2>
<table class="table">
    <tr>
        <th>Full Name</th>
        <th>Email</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FullName</td>
            <td>@user.Email</td>
        </tr>
    }
</table>
